# Pandas Advance-1 Assignment

In [14]:
import pandas as pd

## Q1. List any five functions of the pandas library with execution.
### Answer:-

### here are five common functions of the pandas library with execution examples:

### 1. read_csv: Reads a CSV file into a pandas DataFrame.

In [15]:
df = pd.read_csv("services.csv")

### 2. head: Returns the first n rows of a DataFrame.

In [16]:
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

### 3. groupby: Groups the DataFrame by one or more columns and applies an aggregation function.

In [17]:
grouped = df.groupby('service_areas').mean()

/tmp/ipykernel_429/1841697772.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('service_areas').mean()

In [18]:
grouped.head(3)

                                       id  location_id  program_id
service_areas
Alameda County, San Mateo County     18.5         18.5         NaN
Belmont, Burlingame                  19.0         19.0         NaN
Belmont, Burlingame, East Palo Alto  10.5         10.5         NaN

### 4.value_counts: Returns a Series containing counts of unique values in a DataFrame column.

In [19]:
vc=df['location_id'].value_counts()

In [20]:
vc.head()

22    2
2     1
21    1
20    1
19    1
Name: location_id, dtype: int64

### 5. sort_values: Sorts a DataFrame by one or more columns.

In [21]:
sorted_df = df.sort_values(by='program_id', ascending=False)

In [22]:
sorted_df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.
### Answer:-

In [23]:
def reindex_df(df):
    
    new_index = range(1, len(df)*2, 2) 
    
    df = df.reset_index(drop=True) 
    
    df.index = new_index 
    
    return df

In [24]:

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

reindexed_df = reindex_df(df)

print(reindexed_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [25]:
data = {"Values" : [10,20,30,40,50]}
df = pd.DataFrame(data)

In [26]:
def calculate_sum(df):
    sum = 0
    for i in range(3):
        sum += df.loc[i, 'Values']
    print('The sum of the first three values in the "Values" column is:', sum)

In [29]:
calculate_sum(df)

The sum of the first three values in the "Values" column is: 60

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [31]:


def add_word_count(df):
    
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    
    return df

In [32]:

df = pd.DataFrame({'Text': ['This is a sample sentence.', 'This is another sample sentence.', 'Yet another sentence.']})
df = add_word_count(df)
print(df)

                               Text  Word_Count
0        This is a sample sentence.           5
1  This is another sample sentence.           5
2             Yet another sentence.           3

## Q5. How are DataFrame.size() and DataFrame.shape() different?
### Answer:-

### DataFrame.size and DataFrame.shape are both methods in Pandas that are used to get information about the size of a DataFrame, but they return different values.
### DataFrame.size returns the total number of elements in the DataFrame. This is calculated by multiplying the number of rows by the number of columns. For example, if a DataFrame has 5 rows and 3 columns, DataFrame.size will return 15.
### DataFrame.shape returns a tuple containing the number of rows and columns in the DataFrame, in that order. For example, if a DataFrame has 5 rows and 3 columns, DataFrame.shape will return (5, 3).

## Q6. Which function of pandas do we use to read an excel file?
### Answer:-
### To read an Excel file in Pandas, we use the read_excel function. The read_excel function is a part of the pandas module and is used to read data from an Excel file into a pandas DataFrame.
### df = pd.read_excel('data.xlsx')

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [35]:


def extract_username(df):
    # split email addresses at '@' symbol and extract first part
    df['Username'] = df['Email'].str.split('@').str[0]
    
    return df

In [36]:

df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com', 'bob.smith@example.com']})

df = extract_username(df)

print(df)

                   Email   Username
0   john.doe@example.com   john.doe
1   jane.doe@example.com   jane.doe
2  bob.smith@example.com  bob.smith

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:
####  A B C
####  0 3 5 1
####  1 8 2 7
####  2 6 9 4
####  3 2 3 5
####  4 9 1 2

In [38]:
def select_rows(df):
    
    # select rows where A > 5 and B < 10
    
    selected_rows = df.loc[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows

In [39]:

df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

selected_rows = select_rows(df)

print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2